# Don't forget about tracking the dot files.
alias dotfiles="/usr/bin/git --git-dir=$HOME/.dotfiles.git/ --work-tree=$HOME"

# Most standar alias
alias ll='colorls -lA --sd --gs --group-directories-first'
alias ls='colorls --group-directories-first'
alias l='colorls -ltr'

# Useful tools
alias r='. ranger'
alias ranger='. ranger'

# Change directories
alias cd..='cd ..'
alias cd...='cd ..\..'
alias cd....='cd ..\..\..'

alias ..='cd ..'
alias ...='cd ..\..'
alias ....='cd ..\..\..'

alias cdjr='cd /home/$USER/src/github.com/jr/'
